*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-link{
transition: color 1s;
}
.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0, 0.8)) , url('../images/hero\ img.jpg');
    background-size: cover;
    background-position: center center;
}
body {
    font-family: "Roboto", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
  }
.Services-item { 
    transition: background-color 1s;
}
.nav-title ,.nav-item .action,.nav-link:hover , .nav-item:hover,.blog-title:hover,.blog-item-link:hover,.home-title{
    color:  #FF305B !important;
}
.about_box {
    border: 9px solid #555555;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    right: 100px;
}
.about_photo {
    position: relative;
  overflow: hidden;
  width: 370px;
  height: 400px;
  left: 5px;
  top: 5px;
  border-radius: 10px;}
.layer-content{
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.578);
    transition: height 1s;
}
.layer-info{
    position: absolute;
    top:50%;
    left: 45%;
    color: #fff;
}
.about_box:hover .layer-content{
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.line{
    width: 120px;
    height: 1px;
    margin: auto;
    background-color: #FF305B;
    margin-bottom: 30px;
}
.Services ,.offer{
    background-color: #F1F1F1
}
.col-md-3 .icon{
    color: #FF305B;
    margin:20px  0px;
}
.Services-item:hover{
    background-color: #fff;
}
.Portfolio-item,.blog-item{
    position: relative;
    transition: width 2s ;
}

.Portfolio-item::after{
    position: absolute;
    content: "";
    width: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.578);
    z-index: 1;
    transition:width 1s ;
}
.layer .icon{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #FF305B;
    display: none;
    transition:display 2s ;
}
.Portfolio-item:hover::after{
    width: 100%;
}
.Portfolio-item:hover .layer .icon{
    display: flex;
}
.triangle{
    border: 80px solid rgb(255, 48, 91);
    border-color: rgb(255, 48, 91) transparent transparent rgb(255, 48, 91);
    position: absolute;
    top: 0;
    left: 0;
}
.box {
    width: 90px;
    position: absolute;
    left: 30px;
    top: 40px;
  }
  .box img {
    border-radius: 50%;
    width: 100%;
  }
.blog-title{
    transition: color 1s;
}
.blog-item-link{
    color: #000;
    margin-bottom: 20px;
    transition: color 1s;
}

